
#console{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	height: 200px;
	background: black;
	color: green;
	font-weight: 0;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
